# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# Django
*.sqlite3
*.log
*.pot
*.pyc
*.mo
*.db
db.sqlite3
media/
staticfiles/

# Environment
.env
.venv/
venv/
ENV/
env/
.venv

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Byte-compiled / compiled files
*.egg
*.egg-info/
dist/
build/
.eggs/

# pipenv / poetry
Pipfile.lock
poetry.lock

# coverage / testing
.coverage
htmlcov/
.tox/
.pytest_cache/
nosetests.xml
coverage.xml

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
